html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
}
/*==== BACKGROUND IMAGE ====*/

body{
  /*background: url(assets/gold-bowl.jpg) center no-repeat;*/
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: hsla(360, 0%, 13%, 0.9);
}


/*==== FONTS ====*/

.quote {
	letter-spacing: 0.2rem;
  font-family: 'Crimson Text', serif;
  /*font-size: 2.5rem;  */
	font-size: 2rem;
	color: antiquewhite;
}

.author {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-size: 1.5rem;
	color: antiquewhite;
}

.quote, .author, .nav-item{
	text-shadow: 1px 1px 10px ;
}


/*==== TEXT POSITIONING AND STYLING ====*/

.wrapper {
  text-align: center;
  padding-top: 0rem;
  margin: 0 auto;
	height: 100vh;
  width: 100%;
	background-image: linear-gradient(darkturquoise, darkturquoise, darkgoldenrod);
	opacity: 0.;
	z-index: -1;
}


.navbar-custom {
	padding-top: 1rem;
	background-image: linear-gradient(darkcyan, darkturquoise);
}

.navbar-custom .navbar-nav {
	display: flex;
	margin-left: auto;
}

.navbar-custom .navbar-nav .nav-item {
	line-height: 2.0;
	margin:  0  auto;
	font-family: 'Crimson Text', serif;
	text-transform: uppercase;
	font-size: 1.3rem;
}

.navbar-custom .navbar-nav .nav-link {
	color: white;
}

.navbar-custom .navbar-nav .nav-link:hover {
	color: turquoise;
}

.custom-toggler {
	display: flex;
	margin: 0 auto;
	font-size: 1.7rem;
}
.custom-toggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(999, 999, 999, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

div.container.main-part {
	padding-top: 3rem;
}

.about-me {
	padding: 3rem 0;
	max-width: 80vw;
	font-size: 1.3rem;
}

.about-me-part {
	margin: 0 auto;
	padding: 3rem 0rem;
	max-width: inherit;
	/*border-top: 3px double darkcyan;*/
}

.img-part {
	max-width: 80vw;
	margin: 0 auto;
	padding-bottom: 3rem;
}

.about-me-img {
	max-height: 80vh;
	border: 5px double darkgoldenrod;
	box-shadow: 1px 1px 10px black;
}

.footer {
	position: absolute;
	height: auto;
	bottom: -auto;
	width: 100vw;
	text-align: center;
	background-color: darkcyan;
	color: antiquewhite;
	padding: 1.5rem;
	font-size: 0.6rem;
}

.footer a{
	color: turquoise;
}


/* =============================

        MEDIA REQUESTS

=============================*/

@media (min-width: 768px){
	
	.main-part .quote {
		font-size: 2rem;
	}
	.main-part .author {
		font-size: 1.5rem;
	}
	.about-me-img {
	max-width: 30vw;
	}
}

@media (min-width: 1024px){
	
	.main-part .quote {
		font-size: 2.5rem;
	}
	.main-part .author {
		font-size: 2rem;
	}	
	.navbar-custom .navbar-nav .nav-item {
		padding-left: 1.5rem;
	}	
	.about-me-img {
	max-width: 23vw;
	}
}

.cta {
	margin: 2rem;
	background-color: hsl(43,74%,49%, 0.2);
	color: lightgoldenrodyellow;
	padding: 1rem 2rem;
	font-size: 1.2rem;
	/*border-color:gold;*/
	border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: 1px 1px 10px 1px;
	text-shadow: 1px 1px 10px black;
}


.more {
	margin-right: 0;
	margin-left: auto;
	color: mediumturquoise;
}
.more:hover {
	color: darkcyan;
	text-decoration: none;
}

h3{
	margin: 0 auto;
	padding-bottom: 2rem;
	font-family: 'Dancing Script', cursive;
	font-size: 2.2rem;
	color: darkcyan;
}